In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv'
data = pd.read_csv(url)
#data = pd.read_csv(url, index_col=0)
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X = data.iloc[:,:-1]
y = data.iloc[:,4]

In [ ]:
#applying Encoding
states = pd.get_dummies(X['State'],drop_first= True)

In [ ]:
#droping the State column from the X varible
X = X.drop('State',axis = 1)

In [ ]:
X = pd.concat([X,states],axis=1)

In [ ]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [ ]:
#Train_Test_split
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

In [ ]:
#Applying Linear model
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#predicting the results
y_pred = LR.predict(x_test)

In [ ]:
#checking Error
from sklearn.metrics import r2_score
score = r2_score(y_pred,y_test)
score

0.934615450563016